{{>header}}

<link rel="stylesheet" href="/PW2-TP2/public/styles/home.css">

<h2>Bienvenido</h2>

<p class="welcome-text">Responde preguntas, acumula puntos y domina el ranking.</p>

<div class="button-grid">
    <a href="/PW2-TP2/user/registro" class="btn" style="text-decoration: none; display: inline-block;">CREAR CUENTA</a>
    <a href="/PW2-TP2/user/login" class="btn btn-secondary" style="text-decoration: none; display: inline-block;">INICIAR SESIÓN</a>
</div>

{{>footer}}
